.control-audit {
  * {
    box-sizing: border-box;
  }

  &.multiselect {
    margin-top: -60px;

    > .wpeo-table {
      background: none !important;
    }
    .table-cell {
      padding-top: 0;
    }
  }

  .wpeo-table.table-flex .table-row:not(.table-header):nth-of-type(odd) {
    background: none;
  }
  .table-cell {
    margin-top: 0 !important;
  }
  > .wpeo-table {
    border-bottom: 1px solid rgba(0,0,0,0.2);

    &:nth-of-type(odd) {
      //background: rgba(0,0,0,0.1);
      //background: rgba(155,117,166,0.3);
      background: rgba(38,60,92,0.15);
    }

    .cell-photo-check {
      text-align: right;

      @media ( max-width: $media__small ) {
        text-align: center;
      }
    }
    .question-photo-check {
      margin: 0 4px;
      display: inline-block;
      position: relative;

      img {
        display: block;
        margin: 0;
        width: 200px;
        height: 200px;
        background-size: cover;
      }
      i {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 35px;
      }

      &.ko i {
        color: $color__red;
      }
      &.ok i {
        color: $color__green;
      }
    }

    .photo {
      margin: 0 4px;

      &.photo-ok {
        border: 2px solid $color__green;
      }
      &.photo-ko {
        border: 2px solid $color__red;
      }
    }

    .linked-medias {
      display: flex;
      gap: 0 10px;
      flex-wrap: wrap;
    }

    .answer {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      margin: 0 4px;
      text-align: center;
      border-radius: 50%;
      background: #fff;
      border: 1px solid rgba(0,0,0,0.4);
      transition: all 0.2s ease-out;

      &:hover {
        cursor: pointer;
      }

      &[value="1"] {
        color: $color__green;

        &.active {
          background: $color__green;
        }
      }
      &[value="2"] {
        color: $color__red;

        &.active {
          background: $color__red;
        }
      }
      &[value="3"] {
        color: $color__yellow;

        &.active {
          background: $color__yellow;
        }
      }
      &[value="4"] {
        color: rgba(0,0,0,0.7);
        font-weight: 700;

        &.active {
          background: rgba(0,0,0,0.7);
        }
      }
      &.active {
        color: #fff;
        //border-color: $color__secondary;
        //box-shadow: 0 0 0 2px $color__secondary;
      }
    }

    .question-comment-container {
      margin-top: 10px;

      .question-ref {
        font-size: 13px;
        font-weight: 700;
      }
      .question-comment {
        width: 100%;
        background: #fff;
        border: 1px solid rgba(0,0,0,0.2);
        padding: 1em 1.4em;
      }
    }

  }
}

.control-audit * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.control-audit.multiselect {
  margin-top: -60px;
}
.control-audit.multiselect > .wpeo-table {
  background: none !important;
}
.control-audit.multiselect .table-cell {
  padding-top: 0;
}
.control-audit .wpeo-table.table-flex .table-row:not(.table-header):nth-of-type(odd) {
  background: none;
}
.control-audit .table-cell {
  margin-top: 0 !important;
}
.control-audit > .wpeo-table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.control-audit > .wpeo-table:nth-of-type(odd) {
  background: rgba(38, 60, 92, 0.15);
}
.control-audit > .wpeo-table .cell-photo-check {
  text-align: right;
}
@media (max-width: 700px) {
  .control-audit > .wpeo-table .cell-photo-check {
    text-align: center;
  }
}
.control-audit > .wpeo-table .question-photo-check {
  margin: 0 4px;
  display: inline-block;
  position: relative;
}
.control-audit > .wpeo-table .question-photo-check img {
  display: block;
  margin: 0;
  width: 200px;
  height: 200px;
  background-size: cover;
}
.control-audit > .wpeo-table .question-photo-check i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 35px;
}
.control-audit > .wpeo-table .question-photo-check.ko i {
  color: #e05353;
}
.control-audit > .wpeo-table .question-photo-check.ok i {
  color: #47e58e;
}
.control-audit > .wpeo-table .photo {
  margin: 0 4px;
}
.control-audit > .wpeo-table .photo.photo-ok {
  border: 2px solid #47e58e;
}
.control-audit > .wpeo-table .photo.photo-ko {
  border: 2px solid #e05353;
}
.control-audit > .wpeo-table .linked-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.control-audit > .wpeo-table .answer {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin: 0 4px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.control-audit > .wpeo-table .answer:hover {
  cursor: pointer;
}
.control-audit > .wpeo-table .answer[value="1"] {
  color: #47e58e;
}
.control-audit > .wpeo-table .answer[value="1"].active {
  background: #47e58e;
}
.control-audit > .wpeo-table .answer[value="2"] {
  color: #e05353;
}
.control-audit > .wpeo-table .answer[value="2"].active {
  background: #e05353;
}
.control-audit > .wpeo-table .answer[value="3"] {
  color: #e9ad4f;
}
.control-audit > .wpeo-table .answer[value="3"].active {
  background: #e9ad4f;
}
.control-audit > .wpeo-table .answer[value="4"] {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}
.control-audit > .wpeo-table .answer[value="4"].active {
  background: rgba(0, 0, 0, 0.7);
}
.control-audit > .wpeo-table .answer.active {
  color: #fff;
}
.control-audit > .wpeo-table .question-comment-container {
  margin-top: 10px;
}
.control-audit > .wpeo-table .question-comment-container .question-ref {
  font-size: 13px;
  font-weight: 700;
}
.control-audit > .wpeo-table .question-comment-container .question-comment {
  width: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em 1.4em;
}

.control-audit * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.control-audit.multiselect {
  margin-top: -60px;
}

.control-audit.multiselect > .wpeo-table {
  background: none !important;
}

.control-audit.multiselect .table-cell {
  padding-top: 0;
}

.control-audit .wpeo-table.table-flex .table-row:not(.table-header):nth-of-type(odd) {
  background: none;
}

.control-audit .table-cell {
  margin-top: 0 !important;
}

.control-audit > .wpeo-table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.control-audit > .wpeo-table:nth-of-type(odd) {
  background: rgba(38, 60, 92, 0.15);
}

.control-audit > .wpeo-table .cell-photo-check {
  text-align: right;
}

@media (max-width: 700px) {
  .control-audit > .wpeo-table .cell-photo-check {
    text-align: center;
  }
}
.control-audit > .wpeo-table .question-photo-check {
  margin: 0 4px;
  display: inline-block;
  position: relative;
}

.control-audit > .wpeo-table .question-photo-check img {
  display: block;
  margin: 0;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.control-audit > .wpeo-table .question-photo-check i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 35px;
}

.control-audit > .wpeo-table .question-photo-check.ko i {
  color: #e05353;
}

.control-audit > .wpeo-table .question-photo-check.ok i {
  color: #47e58e;
}

.control-audit > .wpeo-table .photo {
  margin: 0 4px;
}

.control-audit > .wpeo-table .photo.photo-ok {
  border: 2px solid #47e58e;
}

.control-audit > .wpeo-table .photo.photo-ko {
  border: 2px solid #e05353;
}

.control-audit > .wpeo-table .linked-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.control-audit > .wpeo-table .answer {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin: 0 4px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.control-audit > .wpeo-table .answer:hover {
  cursor: pointer;
}

.control-audit > .wpeo-table .answer[value="1"] {
  color: #47e58e;
}

.control-audit > .wpeo-table .answer[value="1"].active {
  background: #47e58e;
}

.control-audit > .wpeo-table .answer[value="2"] {
  color: #e05353;
}

.control-audit > .wpeo-table .answer[value="2"].active {
  background: #e05353;
}

.control-audit > .wpeo-table .answer[value="3"] {
  color: #e9ad4f;
}

.control-audit > .wpeo-table .answer[value="3"].active {
  background: #e9ad4f;
}

.control-audit > .wpeo-table .answer[value="4"] {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}

.control-audit > .wpeo-table .answer[value="4"].active {
  background: rgba(0, 0, 0, 0.7);
}

.control-audit > .wpeo-table .answer.active {
  color: #fff;
}

.control-audit > .wpeo-table .question-comment-container {
  margin-top: 10px;
}

.control-audit > .wpeo-table .question-comment-container .question-ref {
  font-size: 13px;
  font-weight: 700;
}

.control-audit > .wpeo-table .question-comment-container .question-comment {
  width: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em 1.4em;
}

.control-list-medias .question-section {
  display: block;
  margin-bottom: 20px;
}

.control-list-medias .question-section::after {
  display: block;
  content: "";
  clear: both;
}

.control-list-medias .question-ref {
  font-weight: 800;
  display: block;
  clear: both;
}

.control-list-medias .media-container {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.control-list-medias .media-container a {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.control-list-medias .media-container a:hover {
  opacity: 0.8;
}

.control-list-medias .media-container .photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.question-table .linked-medias-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  height: auto !important;
}

@media (max-width: 500px) {
  .question-table .linked-medias-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  div.tabBar table.border.question-table tr.linked-medias,
  div.tabBar table.border.question-table tr.linked-medias .linked-medias-list {
    height: auto !important;
  }
}
.preview-photo {
  z-index: 2100 !important;
}

.dropdown-toggle::after {
  display: none;
}

.favorite-photo {
  border: 5px solid #0d8aff;
}

.control-list-medias .question-section {
  display: block;
  margin-bottom: 20px;
}
.control-list-medias .question-section::after {
  display: block;
  content: "";
  clear: both;
}
.control-list-medias .question-ref {
  font-weight: 800;
  display: block;
  clear: both;
}
.control-list-medias .media-container {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.control-list-medias .media-container a {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.control-list-medias .media-container a:hover {
  opacity: 0.8;
}
.control-list-medias .media-container .photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.question-table .linked-medias-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  height: auto !important;
}
@media (max-width: 500px) {
  .question-table .linked-medias-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  div.tabBar table.border.question-table tr.linked-medias,
  div.tabBar table.border.question-table tr.linked-medias .linked-medias-list {
    height: auto !important;
  }
}

.preview-photo {
  z-index: 2100 !important;
}

.dropdown-toggle::after {
  display: none;
}

.favorite-photo {
  border: 5px solid #0d8aff;
}
