.element-list-medias {
  .question-section {
    display: block;
    margin-bottom: 20px;

    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }
  .question-ref {
    font-weight: 800;
    display: block;
    clear: both;
  }

  .media-container {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

    a {
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.8;
      }
    }
    .photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
