.page-public-card .question-answer-container-pwa {
  background: none;
  box-shadow: none;

  .question:not(.wpeo-button) {
    background: #fff;
    padding: 1.4em;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(27,100,168,0.15);
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      content: '';
      position: absolute;
      width: 14px;
      height: 100%;
      top: 0;
      left: -5px;
      background: $color__public-secondary;
    }
    &.question-complete::before {
      background: $color__primary;
      transition: background 0.4s ease-in-out;
    }

    .question__header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.5em;
      margin-bottom: 1.5em;

      .question__header-content {
        width: 100%;
      }
      .question-title {
        font-size: 16px;
        font-weight: 600;
        color: $color__public-primary;
      }
      .question-description {
        font-size: 14px;
        color: #777777;
      }
      .question__header-medias {
        display: flex;
        gap: 0.5em;

        .photo {
          width: 60px;
          min-width: 60px;
          height: 60px;
          object-fit: cover;
          position: relative;
        }
        .photo-ok {
          border: 5px solid $color__green;
        }
        .photo-ko {
          border: 5px solid $color__red;
        }
      }
    }

    .question__content {
      margin-bottom: 1.5em;

      .percentage-cell {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .range-image {
          padding: 0 0.5em 0 0.5em;
          font-size: 2em !important;
        }
        input[type=range] {
          width: 100%;
          appearance: none;
          cursor: pointer;
          padding: 0;
          border: 0;
          outline: none;
          margin: 0;
          box-shadow: none;
        }

        input[type=range]::-webkit-slider-thumb {
          appearance: none;
          width: 60px;
          height: 60px;
          margin-top: -20px;
          border: 10px solid #fff;
          box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25), 0 0 0 1px #c7c5c5;
          background: #0d8aff;
          transition: transform 0.1s ease-in-out;
          border-radius: 50%;

          &:hover {
            transform: scale(1.05);
          }
        }
        input[type=range]::-webkit-slider-runnable-track {
          border-radius: 50px;
          height: 20px;
          background: linear-gradient(90deg, #D53C3D 0%, #ED911D 25%, #F2C32E 50%, #92D444 75%, #57AD39 100%);
          transition: transform 0.3s ease-in-out;
        }

        input[type=range]::-moz-range-thumb {
          appearance: none;
          width: 45px;
          height: 45px;
          margin-top: -20px;
          border: 10px solid #fff;
          box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25), 0 0 0 1px #c7c5c5;
          background: #0d8aff;
          transition: transform 0.1s ease-in-out;
          border-radius: 50%;

          &:hover {
            transform: scale(1.05);
          }
        }

        input[type=range]::-moz-range-track {
          border-radius: 50px;
          height: 20px;
          background: linear-gradient(90deg, #D53C3D 0%, #ED911D 25%, #F2C32E 50%, #92D444 75%, #57AD39 100%);
          transition: transform 0.3s ease-in-out;
        }
      }

      .select-answer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;

        .answer {
          border: 4px solid #fff;
          border-radius: 8px;
          padding: 0.4em 0.8em;
          font-size: 18px;
          transition: all 0.2s ease-out;
          display: flex;
          align-items: end;

          &.active {
            color: #fff !important;
          }
          &:hover {
            cursor: pointer;
            transform: scale(1.08);
          }
        }
        .answer.single-answer {
          border-radius: 50px;
        }
        .answer.answer-icon {
          width: 50px;
          height: 50px;
          padding: 0;
          font-size: 20px;
          align-items: center;
          justify-content: center;
        }
      }

      .question-textarea {
        margin-bottom: 0;
      }

      .question-number {
        text-align: center;

        input {
          max-width: 160px;
        }
      }

    }

    .question__footer {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0.5em;
      align-items: left;

      .question__footer-comment {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0.5em;
        border: 2px solid $color__public-secondary;
        border-radius: 10px;
        padding: 3px;
        margin: 0;

        .question-comment-icon {
          background: rgba($color__public-secondary, 0.5);
          color: $color__public-primary;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          border-radius: 8px;
        }
        .question-comment {
          height: 40px;
          padding: 0;
          margin: 0;
          font-size: 16px;
          border: none !important;
          color: $color__public-primary;

          &::placeholder {
            color: rgba($color__public-primary, 0.3);
          }
          &:focus::placeholder {
            color: transparent;
          }
        }
        /** Fix Eldy Theme */
        input:focus:not(.button):not(.buttonwebsite):not(.buttonreset):not(.select2-search__field):not(#top-bookmark-search-input):not(.search_component_input):not(.input-search-takepos).question-comment {
          border: none !important;
          box-shadow: none;
        }
      }

      .linked-medias {
        padding-top: 1em;
      }
      .button-linked-medias {
        overflow: visible;

        .button-badge {
          position: absolute;
          top: -11px;
          left: -11px;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background: $color__red;
          text-align: center;
          line-height: 22px;
          font-weight: 600;
          font-size: 11px;
        }
      }
    }
  }

  input:not(.button):not(.range), textarea {
    border: 3px solid $color__public-secondary;
    border-radius: 10px;
    font-size: 18px;
    color: $color__public-primary;
    padding: 0.8em;
    width: 100%;
    transition: all 0.2s ease-out;

    &:focus {
      outline: none;
      border: 3px solid #87a8dd !important;
      box-shadow: 0 0 0 4px rgba($color__public-secondary, 0.4);
    }
    &::placeholder {
      color: rgba($color__public-primary, 0.3);
    }
    &:focus::placeholder {
      color: transparent;
    }
  }
  /** Fix Eldy theme */
  input:focus:not(.button):not(.buttonwebsite):not(.buttonreset):not(.select2-search__field):not(#top-bookmark-search-input):not(.search_component_input):not(.input-search-takepos), select:focus, .select2-container--open [aria-expanded="false"].select2-selection--single {
    border-bottom: 3px solid #87a8dd !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }

  .public-card__footer {
    text-align: center;

    .wpeo-button {
      width: auto;
    }
  }
}

@media ( max-width: $media__small ) {
  .page-public-card .question-answer-container-pwa {
    padding: 1em !important;

    .question {
      .question__content {
        .percentage-cell {
          input[type=range]::-webkit-slider-thumb {
            width: 30px;
            height: 30px;
            margin-top: -8px;
            border: 6px solid #fff;
          }
          input[type=range]::-webkit-slider-runnable-track {
            height: 15px;
          }

          input[type=range]::-moz-range-thumb {
            width: 20px;
            height: 20px;
            margin-top: -5px;
            border: 6px solid #fff;
          }

          input[type=range]::-moz-range-track {
            height: 15px;
          }
        }
      }
    }
  }
}
