#publicControlHistory {
  .public-card__container {
    .public-card__header {
      margin-bottom: 0;

      .objet-container {
        .objet-label.color-1 {
          color: #FF3535;
        }
        .objet-label.color-2 {
          color: #FD7E00;
        }
        .objet-label.color-3 {
          color: #FFB700;
        }
        .objet-label.color-4 {
          color: #C7BA10;
        }
      }
    }
  }

  .public-control-documentation {
    .card {
      &:last-child {
        margin-bottom: 0 !important;
      }
      .card-container {
        display: flex;
        align-items: center;
      }
    }
  }
}


// @TODO Switch in Saturne.
#publicControlHistory .public-card__container {
  .header-information {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: nowrap;

    .information-thumbnail {
      max-width: 100px;
      min-width: 100px;

      img {
        border-radius: 6px;
      }
    }
    .information-type {
      font-size: 12px;
      color: #0d8aff;
      font-weight: 600;
    }
    .information-label {
      &.size-l {
        font-size: 1.1em;
        font-weight: 600;
      }
    }
  }
  .header-objet {
    .objet-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .objet-notification {
      height: 100%;
      align-content: center;
      font-size: 14px;
      color: rgba(0,0,0,0.5);
    }
    .objet-actions {
      display: flex;
      gap: 0.5em;

      @media ( max-width: $media__small ) {
        flex-direction: column;
      }

      .wpeo-button {
        span {
          font-size: 13px;
        }
        .button-icon {
          font-size: 28px;
        }
      }
    }
  }

  .objet-label {
    font-weight: 400;
    &.size-l {
      font-size: 1.1em;
      font-weight: 600;
    }
    .objet-icon {
      color: rgba(0,0,0,0.4);
      margin-right: 0.2em;
    }
  }
}

#publicControlHistory .public-card__tab {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 100%;
  max-width: 910px;
  gap: 0.5em;
  padding: 0 2em;

  .tab {
    padding: 1em;
    margin: 0;
    font-size: 12px;
    background: #fff;
    opacity: 0.6;
    transition: opacity 0.2s ease-out;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 600;
    line-height: 1.2;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &.tab-active {
      border-top: 2px solid $color__primary;
      color: $color__primary;
      opacity: 1;
    }
  }
}

a.wpeo-button:link {
  color: #fff;
}
.wpeo-button {
  &.button-disable-hover {
    &:hover {
      box-shadow: none !important;
      cursor: auto !important;
    }
  }
  &.button-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;

    .button-icon {
      line-height: 1;
      margin: 0;
    }
  }
  &.button-square-60 {
    min-width: 60px;
  }
}
#publicControlHistory .public-card__container .card {
  width: 100%;
  border: 1px solid rgba(13, 138, 255, .2);
  box-shadow: 0 4px 1px 0 rgba(13, 138, 255, .2);
  border-radius: 6px;
  display: flex;
  gap: 1em;
  padding: 0 1em 0 0;

  &.has-margin {
    margin-bottom: 1em;
  }
  .card-thumbnail {
    max-width: 100px;
    min-width: 100px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;


    &.size-min {
      max-width: 60px;
      min-width: 60px;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      width: 100%;
      height: 100%;
    }
    .card-thumbnail-icon {
      font-size: 20px;
      color: #fff;
    }
  }
  .card-container {
    padding: 0.4em 0;
    width: 100%;

    .information-type {
      font-size: 12px;
      color: #0d8aff;
      font-weight: 600;
    }
    .information-label {
      &.size-l {
        font-size: 1.1em;
        font-weight: 600;
      }
      .objet-icon {
        color: rgba(0,0,0,0.4);
        margin-right: 0.2em;
      }
    }
  }
  .card-actions {
    margin: auto 0;
    padding: 0.4em 0;
    display: flex;
    gap: 0.5em;

    @media ( max-width: $media__small ) {
      flex-direction: column;
    }

    .wpeo-button {
      .button-icon {
        color: #fff !important;
        opacity: 1 !important;
      }
    }
  }
}

/**
* Mobile
 */

@media ( max-width: $media__small ) {

  // @TODO Switch in Saturne.
  .page-public-card .fiche {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  #publicControlHistory .public-card__tab {
    margin-bottom: 1em;
    padding: 0;
    justify-content: center;

    .tab {
      border-radius: 3px;
    }
  }
  #publicControlHistory .public-card__container {
    padding: 1em;
  }
}
