.question-answer-container {
  .description {
    text-align: center;
    color: #4B4F5A;
    font-size: 24px;
    margin-top: 20px;
  }

  .label {
    text-align: center;
    color: #0d8aff;
    font-size: 25px;
    margin: 10px 0 10px 0;
  }

  .percentage-cell {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .range-image {
      padding: 0 0.5em 0 0.5em;
    }
  }

  input[type=range] {
    width: 100%;
    cursor: pointer;
    margin-bottom: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    width: 3em;
    height: 3em;
    border: solid #F5F5F5;
    background: #0d8aff;
  }
  input[type=range]::-webkit-slider-runnable-track {
    border-radius: 50px;
    height: 35px;
    background: linear-gradient(90deg, #D53C3D 0%, #ED911D 25%, #F2C32E 50%, #92D444 75%, #57AD39 100%);
  }

  input[type=range]::-moz-range-thumb {
    width: 3em;
    height: 3em;
    border: solid #F5F5F5;
    background: #0d8aff;
  }
  input[type=range]::-moz-range-track {
    border-radius: 50px;
    height: 35px;
    background: linear-gradient(90deg, #D53C3D 0%, #ED911D 25%, #F2C32E 50%, #92D444 75%, #57AD39 100%);
  }
}

:root {
  background: none;
}

input, textarea {
  background-color: #ebf0f8;
  color: #0d8aff;
  --form-element-placeholder-color: #0d8aff;
}
