@import "variable/variable";
@import "page/page";
@import "modules/modules";
@import "element/element";

.preview-photo {
  z-index: 2100 !important;
}

.dropdown-toggle::after {
  display: none;
}

.favorite-photo {
  border: 5px solid #0d8aff;
}

// Pico fix
:where(:root) {
  background: none;
}
