@import "variable/variable";
@import "page/page";
@import "modules/modules";

.preview-photo {
  z-index: 2100 !important;
}

.dropdown-toggle::after {
  display: none;
}

.favorite-photo {
  border: 5px solid #0d8aff;
}


