.dashboard-control {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  line-height: 0.9;
  padding: 7px 2px;
  pointer-events: none;
}
