.wpeo-modal.modal-photo {

  .modal-container {
    max-height: 650px;
  }

  &.modal-active {
    z-index: 2014;
  }

  .clickable-photo {
    transition: all 0.2s ease-out;
    width: 100%;

    &:hover {
      cursor: pointer;

      .photo-image .photo {
        opacity: 0.8;
      }
    }

    &.clicked-photo {
      .photo-image {
        border: 5px solid $color__primary;
      }
      .title {
        color: $color__primary;
      }
    }

    .photo-image {
      position: relative;
      width: 100%;
      max-width: 120px;
      height: 120px;
      margin: auto;
      border: 5px solid #fff;

      .photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none !important;
        transition: all 0.2s ease-out;
      }
      .clicked-photo-preview {
        position: absolute;
        display: inline-block;
        top: 1em;
        right: 1em;
        z-index: 900;
        width: 25px;
        height: 25px;
        line-height: 25px;
        background: #fff;
        border-radius: 50%;
        color: $color__primary;
        transition: all 0.2s ease-out;

        &:hover {
          transform: scale(1.1);
        }

        i {
          line-height: 25px;
          font-size: 14px;
        }
      }
    }
    .title {
      word-break: break-all;
    }
  }
}

.wpeo-modal.modal-photo {
  .formattachnewfile {
    padding-bottom: 0.5em;
  }
  input[type="file"] {
    border-bottom: 0 !important;
  }
}

.wpeo-modal.modal-photo .wpeo-autocomplete {
  .autocomplete-label {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--colortopbordertitle1);

    .autocomplete-icon-before {
      margin: auto 0;
    }
    .autocomplete-search-input {
      width: 100%;
      border-bottom: 0;
      padding: 5px;

      &:focus {
        border-bottom: 0 !important;
      }
    }
    input:focus:not(.button):not(.select2-search__field):not(#top-bookmark-search-input) {
      border-bottom: 0 !important;
    }
  }
}
